<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--see https://github.com/nlog/NLog/wiki/AsyncWrapper-target -->
    <target xsi:type="AsyncWrapper"
                name="logfile"
                queueLimit="10000"
                timeToSleepBetweenBatches="50"
                batchSize="100"
                overflowAction="Discard">
      <target name="logfile" xsi:type="File" fileName="file.txt" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
    </target>
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>